@import "components/buttons";
@import "components/carousel";
@import "components/footer";
@import "components/header";
@import "components/page";

//*
// Scroll reveal
//*
// html.sr .load-hidden {
//     visibility: hidden;
// }

.h3-centered {
	text-align: center;
	margin-top: 1.5rem;
}

.h3-centered span {
	padding-left: 20px;
	padding-right: 20px;
}

.list-2-col {
	columns: 2;
}
