@import "components/header";
@import "components/carousel";
@import "components/page";

.btn-default {
    border-radius: 0;
    border-color: $black;
    color: $black;
}

//*
// Scroll reveal
//*
// html.sr .load-hidden {
//     visibility: hidden;
// }
