/*
    Overrides for the metaSlider
.metaslider {
    .flexslider {
        position: relative;

        .caption-wrap {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.35);

            .caption {
                position: relative;
                width: 100%;
                height: auto;
                padding-top: 20%;
                padding-bottom: 20%;
            }

            h1,
            h2,
            h3 {
                // margin: 0;
                width: 100%;
                text-align: center;
            	text-transform: uppercase;
            	line-height: 1;
            }

            h1 {

            }

            h2 {
            	font-size: 4rem;
            	font-weight: bold;
            	letter-spacing: 0.1rem;
                // margin: 1rem 0;
            }

            h3 {
                font-size: $font-size-base;
            }
        }

    }
}
*/

// NOTE: I've edited plugins/advanced-bootstrap-carousel/twabc-front-view-4.php!
// To add the class name for animate.css (edit: now removed) and to remove the hode for smaller screensize
// d-none d-md-block

.carousel {
    &-inner {
        img {
            width: auto;
            height: 100%;
            max-width: inherit;
        }

        @include media-breakpoint-up(xs) {
            // background-color: red;
            height: 30rem;

            .carousel-caption {
                top: 15%;
                left: 0;
                width: 100%;

                h1 {
                    font-size: $h3-font-size * 1.2;
                }
            }
        }

        @include media-breakpoint-up(sm) {
            // background-color: orange;
        }

        @include media-breakpoint-up(md) {
            // background-color: yellow;
            height: 35rem;
        }

        @include media-breakpoint-up(lg) {
            // background-color: green;
            height: 40rem;

            .carousel-caption {
                top: 30%;
                left: 20%;
                width: 60%;
            }
        }

        @include media-breakpoint-up(xl) {
            // background-color: blue;
            height: 42rem;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.carousel-caption {
    right: inherit;
    bottom: inherit;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: $h1-font-size * 1.5;
    text-align: center;
    line-height: 1.1;
    text-transform: uppercase;
    border-radius: 0.5rem;

    h1, h4 {
        width: auto;
        padding: $s_xs;
        color: $c_carousel;
        background-color: $c_carousel_bg;
    }

    p {
        @include fadeInUp(
            $duration: 1s,
            $delay: 1s,
            $function: ease,
            $fill: both,
            $visibility: 1
        );
    }

    p:last-child {
        display: none;
    }
}

// #page {
//     .carousel {
//         position: relative;
//         width: 100%;
//         height: 100%;
//     }
//
//     .carousel-inner {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//
//     }
//     .carousel-item {
//         position: relative;
//         overflow: hidden;
//
//         .image {
//             width: 100%;
//             height: auto;
//         }
//     }
//
//     @include media-breakpoint-up(xs) {
//         background-color: red;
//         height: 30rem;
//     }
//
//     @include media-breakpoint-up(sm) {
//         background-color: orange;
//     }
//
//     @include media-breakpoint-up(md) {
//         background-color: yellow;
//         height: 35rem;
//     }
//
//     @include media-breakpoint-up(lg) {
//         background-color: green;
//         height: 40rem;
//     }
//
//     @include media-breakpoint-up(xl) {
//         background-color: blue;
//         height: 42rem;
//
//         .image {
//             height: 42rem!important;
//             max-height: 42rem!important;
//         }
//     }
// }
