/*
// Sticky footer (jon)
*/
body {
  margin-bottom: 306px; /* Margin bottom by footer height */
}

.site,
#page-wrapper {
    background-color: $white;
}

#wrapper-footer-full {
    background-color: $primary;
}

.jon {
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 306px; /* Set the fixed height of the footer here */
}

/*
** Footer widget (call to action)
*/
.footer-widget {
    text-align: center;
    padding: $s_sm 0;

    h2 {
        margin-bottom: $s_lg;
        color: $white;
    }

    @include fadeInUp(
        $duration: 1s,
        $delay: 0.76s,
        $function: ease,
        $fill: both,
        $visibility: 1
    );

    .btn-default {
        color: $primary;
        border-color: $white;
    }
}

/*
// Footer block
*/
footer {
    color: $white;
    background-color: $black;

    a {
        color: $white;

        &:hover {
            color: darken($white, 10%);
        }
    }
}

.footer-menu {
    text-align: right;
    li {
        display: inline-block;
        margin-left: 1rem;
    }
}
