.entry-title {
    // background-color: red;
    text-align: center;
    font-size: $h3-font-size;
    margin-bottom: $s_xl;
}

/*
** Home Page specific
*/
.home-intro {
    text-align: center;
    margin-bottom: $s_xl;
}

.home-display {
    margin-bottom: $s_xl * 1.5;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*
// Entry titles
*/
.entry-title {
    @include fadeInDown(
        $duration: 1s,
        $delay: 0.05s,
        $function: ease,
        $fill: both,
        $visibility: 1
    );
}

.entry-content {
    @include fadeInUp(
        $duration: 1s,
        $delay: 0.49s,
        $function: ease,
        $fill: both,
        $visibility: 1
    );
}

/*
// Contact Us - Google Map
*/
.huge_it_google_map {
    margin-bottom: $s_sm;
}
